footer.footer 
    .footer_top 
        .container
            .row
                .col-sm-4
                    .footer_logo 
                        img(src="img/logo.png", alt="")
                    .footer_des
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, iste, ullam. Ad reprehenderit ratione voluptatum earum modi nisi vero laboriosam. In neque expedita vero doloremque. Omnis consequuntur dicta maiores nihil.
                        p.text-right: a(href="#") View more

                      
                        form.footer_form 
                            label Đăng kí nhận tin
                            .input-group
                                <input type="text" class="form-control" placeholder="Search for...">
                                span.input-group-btn
                                    <button class="btn btn-default" type="button">Đăng kí</button>
                                
                          
                            
                .col-sm-2
                    .footer_title
                        h3 Site link
                    .footer_link
                        ul
                            li: a(href="home.html") Home
                            li: a(href="video.html") Video
                            li: a(href="") Bài viết
                            li: a(href="gallery.html") Hình ảnh
                            li: a(href="") Traning
                            li: a(href="") Về chúng tôi
                            li: a(href="") Liên hệ

                .col-sm-3 
                    .footer_title
                        h3 Post recents
                    .footer_post
                        ul
                            li
                                h4
                                    a(href="") How to Create a Custom Login Page in WordPress
                            li
                                h4
                                    a(href="") How to Create a Custom Login Page in WordPress
                            li
                                h4
                                    a(href="") How to Create a Custom Login Page in WordPress
                            li
                                h4
                                    a(href="") How to Create a Custom Login Page in WordPress
                .col-sm-3 
                    .footer_title
                        h3 Contact us
                    .footer_contact
                        p Old Hill Street Police Station<br>140 Hill Street #05-01<br>Singapore 179369

                        p 
                            | <b>Generalc Enquiry</b> (+65) 6837 9954<br>
                            | <b>Schools</b> (+65) 6837 9105<br>
                            | <b>Kindness Gallery</b> (+65) 6837 9610<br>
                            | <b>Fax</b> (+65) 6837 9439<br>

                        p: <b>Email</b> kindness@kindness.sg

    
    .footer_bottom
        .container 
            .text-center(style="padding: 15px 0")  Copyright © 2016. All Rights Reserved.
// end footer

// load javascript 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

// editor js
script(src="js/jquery.ui.widget.js")
script(src="js/jquery.iframe-transport.js")
script(src="js/jquery.fileupload.js")
script(src="js/medium-editor.js")
script(src="js/handlebars.runtime.min.js")
script(src="js/jquery-sortable-min.js")

script(src="js/jquery.cycle2.min.js")
script(src="js/jquery.cycle2.center.min.js")

script(src="js/medium-editor-insert-plugin.min.js")
// end editor js

script(src="js/libs.js")
script(src="js/main.js")
