main.main
    .breadcrumb-wrap 
        .container
            ol.breadcrumb
                li: a(href="#") Home
                li: a(href="#") Galery
    
     .page.video-page
        .container 
            .page-title
                h3 Galery
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta et vel quod enim, incidunt culpa? Harum quis fugiat inventore, tempora reprehenderit non natus

            .galery-wrap.grid
                .grid-item.galery-item
                    a(href="#")
                        img(src="img/1.jpg", alt="") 
                .grid-item.galery-item
                    a(href="#")
                        img(src="img/2.jpg", alt="") 

                .grid-item.galery-item
                    a(href="#")
                        img(src="img/3.jpg", alt="") 

                .grid-item.galery-item
                    a(href="#")
                        img(src="img/4.jpg", alt="") 

                .grid-item.galery-item
                    a(href="#")
                        img(src="img/1.jpg", alt="") 
                .grid-item.galery-item
                    a(href="#")
                        img(src="img/2.jpg", alt="") 

                .grid-item.galery-item
                    a(href="#")
                        img(src="img/3.jpg", alt="") 

                .grid-item.galery-item
                    a(href="#")
                        img(src="img/4.jpg", alt="") 