main.main
    .breadcrumb-wrap 
        .container
            ol.breadcrumb
                li: a(href="#") Home
                li: a(href="#") Blog
    .page.blog-page
        .container 
            .page-title
                h3 Blog
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta et vel quod enim, incidunt culpa? Harum quis fugiat inventore, tempora reprehenderit non natus
            .page-main.blog-wrap.grid
                .blog-post.grid-item
                    .blog-post-inner
                        .img 
                            a(href="")
                                img(src="img/1.jpg", alt="")
                                
                        .caption
                            span.date NOVEMBER 3, 2016

                            h3.title-post
                                a(href="")  Start with Changing Yourself
                            p.des-post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales...
                            
                            span.posted_by
                                | by 
                                a(href="") Admin
                .blog-post.grid-item
                    .blog-post-inner
                        .img 
                            a(href="")
                                img(src="img/2.jpg", alt="")
                                
                        .caption
                            span.date NOVEMBER 3, 2016

                            h3.title-post
                                a(href="")  Start with Changing Yourself
                            p.des-post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales...
                            
                            span.posted_by
                                | by 
                                a(href="") Admin
                
                .blog-post.grid-item
                    .blog-post-inner
                        .img 
                            a(href="")
                                img(src="img/3.jpg", alt="")
                                
                        .caption
                            span.date NOVEMBER 3, 2016

                            h3.title-post
                                a(href="")  Start with Changing Yourself
                            p.des-post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales...
                            
                            span.posted_by
                                | by 
                                a(href="") Admin
                
                .blog-post.grid-item
                    .blog-post-inner
                        .img 
                            a(href="")
                                img(src="img/4.jpg", alt="")
                                
                        .caption
                            span.date NOVEMBER 3, 2016

                            h3.title-post
                                a(href="")  Start with Changing Yourself
                            p.des-post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales...
                            
                            span.posted_by
                                | by 
                                a(href="") Admin

                .blog-post.grid-item
                    .blog-post-inner
                        .img 
                            a(href="")
                                img(src="img/2.jpg", alt="")
                                
                        .caption
                            span.date NOVEMBER 3, 2016

                            h3.title-post
                                a(href="")  Start with Changing Yourself
                            p.des-post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales...
                            
                            span.posted_by
                                | by 
                                a(href="") Admin
                
                .blog-post.grid-item
                    .blog-post-inner
                        .img 
                            a(href="")
                                img(src="img/3.jpg", alt="")
                                
                        .caption
                            span.date NOVEMBER 3, 2016

                            h3.title-post
                                a(href="")  Start with Changing Yourself
                            p.des-post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales...
                            
                            span.posted_by
                                | by 
                                a(href="") Admin
                .blog-post.grid-item
                    .blog-post-inner
                        .img 
                            a(href="")
                                img(src="img/1.jpg", alt="")
                                
                        .caption
                            span.date NOVEMBER 3, 2016

                            h3.title-post
                                a(href="")  Start with Changing Yourself
                            p.des-post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales...
                            
                            span.posted_by
                                | by 
                                a(href="") Admin
                
                .blog-post.grid-item
                    .blog-post-inner
                        .img 
                            a(href="")
                                img(src="img/4.jpg", alt="")
                                
                        .caption
                            span.date NOVEMBER 3, 2016

                            h3.title-post
                                a(href="")  Start with Changing Yourself
                            p.des-post Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta fringilla ullamcorper. Morbi felis orci, lacinia a velit et, sodales...
                            
                            span.posted_by
                                | by 
                                a(href="") Admin
                    
        .text-center.mt-30
            a(class="btn-view-more ", href="") Xem thêm
