main.main
    .breadcrumb-wrap 
        .container
            ol.breadcrumb
                li: a(href="#") Home
                li: a(href="#") Blog

    .page.page-detail 
        .container
            
            .post-detail 
                header
                    h2.post-detail-title A thoughtful Mr Bus Captain
                    .post-detail-meta Posted on August 1, 2016 by <a href="">SKM</a>

                article 
                    .row 
                        .col-sm-8.col-sm-offset-2
                            .post-content
                                p 
                                    .img 
                                        img(src="img/5.jpg", alt="")
                                br
                                p  On Sunday, 3 July 2016, I boarded a crowded SBS bus number 135 after church service at the bus stop outside Church of Christ the King at Ang Mo Kio. The bus was very crowded and many had to squeeze towards the rear. As the bus captain continued driving, he stopped to open the front door at every bus stop ahead. He stood up, in a courteous and calm voice, to apologise and explain to the commuters waiting at those stops that the bus unable to shuttle them as it was full. He also sought their understanding to wait for the next bus. He repeated that patiently and politely.
                                p To many of us squeezing at the rear of the bus, Mr Bus Captain adjusted the air con fan above him towards our direction to ensure we were comfortable. He was very thoughtful.  Throughout the journey,  he was friendly and full of smiles. Some of the passengers, including myself, reciprocated with smiles and words of appreciation. I heard many ‘thank yous’ and witnessed smiles from some passengers when alighting after we reached Ang Mo Kio bus interchange. Although the journey was short,  but it was pleasant and cordial. Mr Bus Captain not only transformed the entire journey experience from a stressful to a gracious one,  he also showed us that kindness could be found anywhere, anytime, in any situation when we least expect it.
                                p Thank you, Mr Bus Captain. Hope this little note injects some cheer into your days and gives you the motivation to continue making a difference in other people’s life.
                

            .post-recent
                .post-recent-title 
                    h3  Recommended Stories
                .post-recent-slider 
                    .post-recent-item 
                        a(href="") 
                            .img 
                                img(src="img/1.jpg", alt="")
                            
                            h4 I boarded a crowded SBS bus number
                    .post-recent-item 
                        a(href="") 
                            .img 
                                img(src="img/2.jpg", alt="")
                            
                            h4 I boarded a crowded SBS bus number
                    .post-recent-item 
                        a(href="") 
                            .img 
                                img(src="img/3.jpg", alt="")
                            
                            h4 I boarded a crowded SBS bus number
                    .post-recent-item 
                        a(href="") 
                            .img 
                                img(src="img/4.jpg", alt="")
                            
                            h4 I boarded a crowded SBS bus number
                    .post-recent-item 
                        a(href="") 
                            .img 
                                img(src="img/5.jpg", alt="")
                            
                            h4 I boarded a crowded SBS bus number


            .post-comment 
                .row 
                    .col-sm-8.col-sm-offset-2