main.main
    .breadcrumb-wrap 
        .container
            ol.breadcrumb
                li: a(href="#") Home
                li: a(href="#") Video
    
    .page.video-page
        .container 
            .row
                .col-sm-12
                    .page-title
                        h3 Video
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta et vel quod enim, incidunt culpa? Harum quis fugiat inventore, tempora reprehenderit non natus

                    .row.videos
                        .video.col-sm-4
                            a(href="#")
                                .img
                                    img(src="img/9.jpg", alt="")
                                span.play 
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                h4.title_video  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .video.col-sm-4
                            a(href="#")
                                .img
                                    img(src="img/10.jpg", alt="")
                                span.play 
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                h4.title_video  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .video.col-sm-4
                            a(href="#")
                                .img
                                    img(src="img/11.jpg", alt="")
                                span.play 
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                h4.title_video  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .video.col-sm-4
                            a(href="#")
                                .img
                                    img(src="img/9.jpg", alt="")
                                span.play 
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                h4.title_video  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .video.col-sm-4
                            a(href="#")
                                .img 
                                    img(src="img/10.jpg", alt="")
                                span.play 
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                h4.title_video  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .video.col-sm-4
                            a(href="#")
                                .img
                                    img(src="img/11.jpg", alt="")
                                span.play 
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                h4.title_video  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .video.col-sm-4
                            a(href="#")
                                .img
                                    img(src="img/9.jpg", alt="")
                                span.play 
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                h4.title_video  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .video.col-sm-4
                            a(href="#")
                                .img 
                                    img(src="img/10.jpg", alt="")
                                span.play 
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                h4.title_video  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        .video.col-sm-4
                            a(href="#")
                                .img
                                    img(src="img/11.jpg", alt="")
                                span.play 
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                h4.title_video  Lorem ipsum dolor sit amet, consectetur adipisicing elit.

            .row 
                .col-sm-12 
                    include pagination.jade

//- end .video-page